.button {
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.primary {
  background: rgb(1, 20, 46);
  background: linear-gradient(139deg, rgba(1, 20, 46, 1) 0%, rgb(13, 41, 133) 96%);
  color: white;
}

.secondary {
  background: white;
  color: rgba(1, 20, 46, 1);
  border: 1px solid rgba(1, 20, 46, 1);
}

.primary:hover {
  opacity: 0.9;
}

.secondary:hover {
  opacity: 0.7;
}

.button:disabled {
  background-color: rgb(194, 194, 194);
  border: none;
  color: gray;
  cursor: default;
}
